# Virtual Environment
projectenv/
broenv/
venv/
env/
ENV/

# Python Bytecode
__pycache__/
*.pyc[cod]
*$py.class

# Django Specific
db.sqlite3
local_settings.py
media/
*.log


# Environment Variables
.env

# IDE Specific
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Migrations (optional, many teems keep them)
# */migrations/*
# !*/migrations/__init__.py
